In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math

In [2]:
import math
from math import *
from scipy import special

In [3]:
data1 = pd.read_excel('cyexcel.xlsx',sheet_name = 'Sheet1')
data2 = pd.read_excel('cyexcel.xlsx',sheet_name = 'Sheet2')

In [4]:
data2

    Time     Np    Rp     Bo   Rs       Bg
0      0    NaN   650  1.404  650  0.00093
1      1   7.88   760  1.374  592  0.00098
2      2  18.42   845  1.349  545  0.00107
3      3  29.15   920  1.329  507  0.00117
4      4  40.69   975  1.316  471  0.00128
5      5  50.14  1025  1.303  442  0.00139
6      6  58.42  1065  1.294  418  0.00150
7      7  65.39  1095  1.287  398  0.00160
8      8  70.74  1120  1.280  383  0.00170
9      9  74.54  1145  1.276  381  0.00176
10    10  77.43  1160  1.273  364  0.00182

In [5]:
data1

    Time(years)  Pressure OWC(psia)  Plateau pressure (psia)  delta p
0             0                2740                      NaN    120.0
1             1                2500                   2620.0    225.0
2             2                2290                   2395.0    196.0
3             3                2109                   2199.0    170.0
4             4                1949                   2029.0    146.0
5             5                1818                   1883.0    123.0
6             6                1702                   1760.0    105.0
7             7                1608                   1655.0     84.0
8             8                1635                   1571.0     64.0
9             9                1480                   1507.0     47.0
10           10                1440                   1460.0      NaN

In [8]:
data1 = data1.set_index('Time(years)')

In [ ]:
data2 = data2.set_index('Time')

In [ ]:
df = data1.join(data2,how = 'left')

In [ ]:
df

In [ ]:


def t(t):
    k = 200
    phi = 0.25
    mew = 0.55
    c = 7 * 10**(-6)
    ro = 9200
    
    return (2.309*k*t)/(phi*mew*c*ro**2)

In [ ]:
df.reset_index(inplace = True)

In [ ]:
df['tD'] = df['Time'].apply(tde)

In [ ]:
df

## Global Variables

In [ ]:
k = 200
phi = 0.25
mew = 0.55
c = 7 * 10**(-6)
ro = 9200
h = 100
Bw = 1.0
cf = 4 *10**(-6)
cw = 3 * 10**(-6)
f = 140/360

N = 312 * 10**6
Swc = 0.05

In [ ]:
U = 1.119 *f* phi *h*c*ro**2

In [ ]:
U

In [ ]:
def qde(tde,rD): 
    tD = tde
    #for alpha 1
    b0 = -0.00222107
    b1 = -0.627638
    b2 = 6.277915
    b3 = -2.734405
    b4 = 1.2708
    b5 = -1.100417
    a1 = b0+b1*csch(rD)+b2*(rD**b3)+b4*(rD**b5)

    
    #for alpha 2
    b0 = -0.00796608
    b1 = -1.85408
    b2 = 18.71169
    b3 = -2.758326
    b4 = 4.829162
    b5 = -1.009021
    a2 = b0+b1*csch(rD) +b2*(rD**b3)+b4*(rD**b5)

    
    #Calculate qD
    bes_0_1 = special.j0(a1)
    bes_1_1 = special.j1(a1*rD)
    bes_0_2 = special.j0(a2)
    bes_1_2 = special.j1(a2*rD)
    qD1 = ((rD**2)-1)/2
    qD2 = (2*math.e**((-a1**2)*tD) *bes_1_1**2) / ((a1**2)*bes_0_1**2 - bes_1_1**2)

    qD3 = (2*math.e**((-a2**2)*tD) *(bes_1_2)**2) / ( (a1**2)*(bes_0_2**2)- bes_1_2**2) 
    qD = qD1 - qD2 - qD3
    
    return qD

In [ ]:
def csch(rD) :
    return 2/((e**rD)-(e**-rD))

In [ ]:
def qde_assist(tde):
    return qde(tde,5)

In [ ]:
df['Wd'] = df['tde'].apply(qde_assist)

In [ ]:
qde_assist(39.680357,5)

In [ ]:
df

In [ ]:
b0 = -1.767
b1 = -0.606
b2 = 0.12368
b3 = 3.02
b4 = 2.25
b5 = 0.5
rD = 5
tcross = b0+b1*rD+b2*((rD)**b4)+b3*(math.log(rD))**b5
tcross

In [ ]:
# for tD < 0.01
# qD = (2/SQRT(pi))(SQRT(tD))

# for 0.01-< tD <200
def new_qde(tD):
    qD = None
    if tD < 200 and 0.01<tD:
        b0 = 1.129552
        b1 = 1.160436
        b2 = 0.2642821
        b3 = 0.01131791
        b4 = 0.5900113
        b5 = 0.04589742
        b6 = 1.00
        b7 = 0.5002034
        b8 = 1.500
        b9 = 1.979139

        qD = (b0*(tD**b7)+b1*(tD)+b2*(tD**b8)+b3*(tD**b9))/(b4*(tD**b7)+b5*(tD)+b6)

    elif tD< 0.01:
        qD = (2 * tD**0.5)/math.pi ** 0.5
        
        
    #for 200-<tD<2.0*10^12
    elif tD< 2*10**12 and tD>= 200 :
        b0 = 4.39880
        b1 = 0.43693
        b2 = -4.16078
        b3 = 0.090
        qD = 10**(b0+b1* math.log(tD)+b2*((math.log(tD))**b3) )
                  
    return qD

In [ ]:
df['new Wd'] = df['tde'].apply(new_qde)

In [ ]:
new_qde(0)

In [ ]:
df

In [ ]:
U

In [ ]:
def wde(df):
    for i in range(1,len(df)):
        wde = 0
        for j in range(i):
            wde += (df.loc[j,'delta p'] * df.loc[i-j,'new Wd']   )
        df.loc[i,'wde'] = U * wde
    return df

In [ ]:
cols = df.columns[12:]

In [ ]:
df.drop(columns = cols , inplace = True)

In [ ]:
wde(df[df.columns[:-1]])

In [ ]:
wde

In [ ]:
df

In [ ]:
df['F'] = df['Np']*(df['Bo']+(df['Rp']-df['Rs'])*df['Bg'])

In [ ]:
## np(bo+(rp-rs)*bg)
##E0 = ((b0-boi)+(rsi - rs)*bg)

In [ ]:
df['Eo'] = (df['Bo']-df.loc[0,'Bo'])+(df.loc[0,'Rs'] - df['Rs'])*df['Bg']

In [ ]:
df[df.columns[-2:]]

In [ ]:
df.columns

In [ ]:
df['f\eo'] = df['F']/df['Eo']
df['wd/eo'] = df['wde']/df['Eo']

In [ ]:
df[df.columns[-6:]]

In [7]:
plt.plot(df['wd/eo'],df['f\eo'])

NameError: name 'df' is not defined